.imagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
  max-height: 500px;
  gap: 100px;
  img {
    width: 100%;
    object-fit: cover;
    gap: 100;
    border-radius: 3px;
  }
}

.aboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  &__text {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
  }
}
