@import 'styles/variables';

.recommendation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 2px;
}

.recommended {
    &__image {
        margin-bottom: 10px;
        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    &__button {
        width: 100%;
        padding: 10px;
        background-color: $red;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        transition: .2s ease;
        &:hover {
            background-color: $black;
        }
    }
}

.ourHouse {
    position: relative;
    margin-bottom: 100px;
    width: 100%;
    img {
        width: 100%;
        border-radius: 5px;
    }
    &__address {
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        bottom: -45px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 200px;
        padding: 30px;
        background-color: $red;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
}