@import "styles/variables";
@import "styles/breakpoints";

.item {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 10px;
    &__image {
        min-width: 240px;
        object-fit: cover;
        @media (max-width: $desktop_xsm) {
            width: 100%;
        }
        img {
            margin-top: 30px;
            border-radius: 8px;
            object-fit: cover;
            height: 260px;
            width: 260px;
        }
    }
    &__description {
        display: flex;
        justify-content: space-around;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 20px;
        @media (max-width: $desktop_xsm) {
            flex-direction: row;
            margin-top: 20px;
            padding: 0;
        }
    }
    &__title {
        h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p {
            color: $dark-grey;
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
    &__tags {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
        max-width: 700px;
        @media (max-width: $desktop_xsm) {
            justify-content: flex-end;
        }
        @media (max-width: $mobile) {
            justify-content: flex-start;
        }
        > div {
            margin: 10px;
        }
    }
    &__type {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 10px 30px;
        font-weight: bold;
        border-radius: 2px;
        &__yakimono {
            background-color: $dark-grey;
            color: #fff;
        }
        &__nimono {
            background-color: #000;
            color: #fff;
        }
        &__itamemono {
            background-color: $red;
            color: #fff;
        }
        &__sashimi {
            background-color: $dark-grey;
            color: #fff;
        }
    }
    &__portion,
    &__serving,
    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: bold;
    }
    &__price {
        color: $red;
        font-size: 1.7rem;
    }
}

