/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  background-color: #F6F6F6;
}

* {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}