@import "styles/variables";
@import "styles/breakpoints";

.navbar {
    padding: 20px $padding-horizontal;

    @media (max-width: $desktop_xsm) {
        padding: 20px $padding-horizontal-mobile;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 20px $padding-horizontal-sm;
    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 20px $padding-horizontal-md;
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 0 $padding-horizontal;
    background-image: url("/assets/menu/header__image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;

    @media (max-width: $desktop_xsm) {
        padding: 0px $padding-horizontal-sm;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_md) {
        padding: 0px $padding-horizontal-sm;
    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 0px $padding-horizontal-md;
    }

    &__text {
        color: #fff;
        font-size: 4rem;
        min-width: 400px;
        width: 40%;
    }
}

.menu {
    padding: 30px $padding-horizontal;

    @media (max-width: $desktop_xsm) {
        padding: 50px $padding-horizontal-sm;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop-sm) {
        padding: 50px $padding-horizontal-sm;
    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 50px $padding-horizontal-md;
    }

    &__title {
        color: $dark;
        font-size: 2rem;
        margin-bottom: 30px;
    }
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 20px 0;

    &__filter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 150px;
        border: none;
        border-radius: 4px;
        font-size: 1.25rem;
        font-weight: bold;
        background-color: $grey;

        &--active {
            background-color: $red;
        }

        &:hover {
            cursor: pointer;
        }
    }
}